html, body {
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Mulish';
  background: #F2F2F2;
  margin-top: 10%;
  margin-right: 0px;
  margin-left: 0px;
}

header {
text-align: center;
font-weight: bold;
}

header > img.logo {
  width: 150px;
}

header > h1.titulo{
  font-size: 2em;
  padding: 20px;
  margin: 0px;
}

header > p.nome {
  font-size: 26px;
  min-width: 300px;
  padding: 20px;
  margin: 0px;
}
button[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-align: left;
}

.textLogin {
  color: #121212;
  font-size: 22px;
  font-weight: 600;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 35px;
  margin-bottom: 35px;
  
}
  

.inputLogin{
    background: #F2F2F2;
    color: #121212;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer.botoes {
  margin: auto;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #162D4F;
}

.buttonSenha {
  color: #121212;
  font-size: 18px;
  font-weight: 600;
  border: none;
  text-decoration: underline;
}

.buttonSenha:hover {
  color: blue;
  text-decoration-color: blue;
}

.botoes {
  text-align: center;
}

.buttonCadastrar{
    display: inline-block;
    background-color: #162D4F;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 4px;
    border: none;
    width: 35%;
    height: 45px;
    border-radius: 15px;
    margin-right: 5%;
    margin-bottom: 40px;
}


.buttonCadastrar:hover {
  background-color: #bdd7ff;
}

.buttonEntrar{
    background-color: #162D4F;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border: none;
    padding: 4px;
    width: 35%;
    height: 45px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
  
}

.buttonEntrar:hover {
  background-color: #bdd7ff;
}

.buttonCancelar{
    display: inline-block;
    background-color: #162D4F;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 4px;
    border: none;
    width: 35%;
    height: 45px;
    border-radius: 15px;
    margin-right: 5%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.buttonCancelar:hover {
  background-color: #bdd7ff;
}

.buttonConfirmar{
    background-color: #162D4F;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border: none;
    padding: 4px;
    width: 35%;
    height: 45px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 20px;
}

.buttonConfirmar:hover {
  background-color: #bdd7ff;
}


.logoImg {
  margin-bottom:40px;
  margin-right: 10px;
  margin-left: 4%;
  float:left;
}

.nomeTopo {
  margin-bottom:40px;
  font-weight: 800;
  font-size: 16px;
}

.busca {
  display: inline-block;
  margin-bottom:40px;
  margin-top: 6px;
  margin-left: 20px;
  width: 40%;
  padding: 4px;
  font-size: 14px;
  border-radius: 10px;
}

.bookImg {
  margin-bottom: 10px;
  border:none;
  }
  
  
  .book {
    float: left;
    margin-left: 4%;
  }
  
  .bookName {
    font-size: 16px;
    font-weight: 600;
  }
  
  .bookAutor {
    font-size: 14px;
    margin-bottom: 40px;
  }


.navbar {
  display: flex;
  overflow-x: auto;
  background-color: #162d4f;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.navIcon {
  background: none;
}

a {
  background:none;
}

.bookInfo {
  margin-left: 4%;
  margin-right: 4%;
  float: left;
}
.bookInfoName {
  font-size: 22px;
  font-weight: 600;
}

.bookInfoAutor {
  font-size: 18px;
}

.bookInfoSinopse {
  font-size: 14px;
  margin-top: 60px;
}

.likeImg {
  float: right;
}

.btnSolicitarAlign{
  margin-left: 10%;
  margin-right: 10%;
}

.buttonSolicitar{
  display: inline-block;
  background-color: #162d4f;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border: none;
  padding: 4px;
  height:40px;
  width: 100%;
  border-radius: 15px;
  Text-align: center;
  margin-top: 40px;
}

.buttonSolicitar:hover {
  background-color: #bdd7ff;
}

.buttonSolicitar >a:active {
  color: #162d4f;
}

.buttonSolicitado {
  background-color: #C4D8E2;
 color: #162d4f;
  font-size: 22px;
  font-weight: 600;
  border: none;
  padding: 4px;
  height:40px;
  width: 100%;
  border-radius: 15px;
  Text-align: center;
  display: inline-block;
  margin-top: 40px;
}

.textWhite {
  color: white;
  text-decoration: none;
}

.textWhite:hover {
    color: #121212;
}

.textBlack {
  text-decoration: none;
  color: #121212;
}

.nomeFavoritos {
  font-size: 28px;
  font-weight: 600px;
  text-align: center;
}

.livroCad {
  font-size: 22px;
  margin-top: 40px;
  margin-left: 4%;
  margin-right: 4%;
  font-weight: 600;
}

.inputCad{
  background: #F2F2F2;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  border-radius: 15px;
  display: block;
  margin-left: none;
  margin-right: 4%;
}

.adicionarImg {
  background-color: #162d4f;
  color: white;
  font-size: 16px;
  border: none;
  padding: 4px;
  height: 30px;
  width: 40%;
  border-radius: 10px;
}
.buttons{
  margin-left: 10%;
  margin-right: 10%;
}

.buttonConfirmarCad {
  display: inline-block;
 background-color: #162d4f;
 color: white;
 font-size: 22px;
 font-weight: 600;
 border: none;
 padding: 4px;
 height:40px;
 width: 100%;
 border-radius: 15px;
 Text-align: center;
 margin-top: 40px;
 margin-bottom: 20px;
}

* {
	box-sizing:border-box;
}

.container {
	margin-right:4%;
	margin-left:4%;
	display:flex;
	justify-content:center;
	align-items:center;
  border: none;
}

.table {
	width:100%;
  border: none;
}

.table-header {
	display:flex;
	width:100%;
	background:#162D4F;
	padding: 10px;
  border-radius: 10px;
}

.table-row {
	display:flex;
	width:100%;
	padding:10px;
  border-radius: 10px;
  background-color: #C4D8E2;
  margin-top: 10px;
}

.table-data, .header-item {
	flex: 1 1 20%;
	text-align:center;
  font-size: 14px;
}

.headerText {
	color:white;
  font-weight: 600;
  font-size: 14px;
	text-decoration: none;
	position:relative;
	display:inline-block;
}

table {
	width:100%;
  border: none;
}

tr {
	display:flex;
	width:100%;
	padding:10px;
  border-radius: 10px;
  background-color: #C4D8E2;
  margin-top: 10px;
}

td {
 	flex: 1 1 20%;
	text-align:center;
  font-size: 14px;
}

.buttonRecebido {
  background-color: #162d4f;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding: 4px;
  height:30px;
  width: 70%;
  border-radius: 10px;
  Text-align: center;
  display: inline-block;
}

input[type="file"] {
  display: none;
}
label {
background-color: #162d4f;
color: white;
font-size: 16px;
border: none;
padding: 4px;
height: 30px;
width: 40%;
border-radius: 10px;
text-align: center;
display: block;
cursor: pointer;
}

.inputCadNum{
  background: #F2F2F2;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  width: 20%;
  border-radius: 15px;
  display: block;
  margin-left: none;
  margin-right: 4%;
}
  